.body {
    background-color: #fff1d6
}

.h1 {
    font-family: Georgia, serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    font-size: 20px;
    padding: 3px 30px; 
}
.h2 {
    font-size: 40px;  
}
.large-button {
    padding: 12px 70px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: pink;
}